.main-nav
{
    margin: 0;
    padding: 0;
    text-align: center;
    background: lightblue;
}

.main-nav__item
{
    display: inline-block;
    color: black;
    padding: 0px 10px;
}

.main-nav__item a
{
    text-decoration: none;
}

.main-nav__item a:hover
{
    color: blue;
}

.main-nav__item a:active
{
    color: red;
}

.main-nav__item a::after
{
    content: " | ";
}